@model CozaStore.WebUI.Models.ProductIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                
                    <a href="/Product/Index/" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                       Tüm Ürünler</a>
           
                @foreach (var category in Model.Categories)
                {
                    <a href="@Url.Action("CategoryProducts", "Product", new { categoryId = category.CategoryID })" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
                            @category.CategoryName
                        </a>
                }

            </div>
        </div>

        <div class="row isotope-grid">
            @foreach (var item in Model.Products)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="@item.ImageURL" alt="IMG-PRODUCT">
                            <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                Detayları Gör
                            </a>
                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l">
                                <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    @item.Title
                                </a>
                                <span class="stext-105 cl3">
                                    @item.Price ₺
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
