@model CozaStore.WebUI.Dtos.Product.CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Ürün Ekle</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form action="/" method="post">
                                <div class="form-group">
                                <label class="text-label">Ürün Adı*</label>
                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", required = "r" })
                                </div>

                                <div class="form-group">
                                    <label class="text-label">Ürün Fiyatı*</label>
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", type = "number", required = "r", step = "any" })
                                </div>

                                <div class="form-group">
                                    <label class="text-label">Ürün Detayları*</label>
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", required = "r" })
                                </div>

                                <div class="form-group">
                                    <label class="text-label">Ürün Görseli*</label>
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", required = "r" })
                                </div>

                                <div class="form-group">
                                    <label class="text-label">Ürün 2. Görseli</label>
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control"})
                                </div>

                                <div class="form-group">
                                    <label class="text-label">Ürün 3. Görseli</label>
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control"})
                                </div>

                                <div class="form-group form-check form-switch">
                                    @Html.CheckBoxFor(x => x.IsPopular, new { @class = "form-check-input" })
                                    <label class="form-check-label" for="@Html.IdFor(x => x.IsPopular)">Popüler mi?</label>
                                </div>

                                <div class="form-group">
                                    <label for="CategoryID">Ürün Kategorisi*</label>
                                    @Html.DropDownListFor(x => x.CategoryID, (SelectList)ViewBag.Categories, "Kategori Seçin", new { @class = "form-control" })
                                </div>

                                <button class="btn btn-primary">Ürünü Ekle</button>
                            </form>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>